<div id="settings-list" class="list-group">
	<% account_active = (selection == 'account') ? "active" : "" %>
	<% profile_active = (selection == 'profile') ? "active" : "" %>
	<% address_active = (selection == 'address') ? "active" : "" %>

	<%= link_to edit_user_registration_path, class: "list-group-item #{account_active}" do %>
		Account
		<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
	<% end %>
	<%= link_to edit_user_profile_path, class: "list-group-item #{profile_active}" do %>
		Profile
		<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
	<% end %>
	<%= link_to (current_user.address.nil? ? new_user_address_path : edit_user_address_path), class: "list-group-item #{address_active}" do %>
		Address
		<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
	<% end %>
</div>
