<p>
Hello <%= @full_name %>,<br>
<br>
We are excited to welcome you to the Huburb community, and thank you for showing your interest.<br>
We are going to launch soon and we will like to hear more from you.<br>
You can reach us at <%= mail_to "hello@huburb.in" %>.<br>
<br>
Abhishek Sisodia<br>
Founder - Huburb
</p>
