<div class="col-sm-offset-3 col-sm-6">
	<div class="margin-bottom-15 card">
		<%= link_to 'Create Page', new_user_page_path, class: 'btn btn-success btn-block' %>
	</div>
</div>
<% unless current_user.pages.with_address.empty? %>
	<div class="col-sm-offset-3 col-sm-6">
		<div class="margin-bottom-15 page-list-heading">
			Published
		</div>
		<%= render current_user.pages.with_address %>
	</div>
<% end %>
<% unless current_user.pages.without_address.empty? %>
	<div class="col-sm-offset-3 col-sm-6">
		<div class="margin-bottom-15 page-list-heading">
			Pending
		</div>
		<%= render current_user.pages.without_address %>
	</div>
<% end %>
