<div class="col-md-3">
	<% if @locatable.class == User %>
		<%= render partial: "shared/account_settings", locals: { selection: "address" } %>
	<% else %>
		<%= render partial: "shared/page_settings", locals: { selection: "address", page: @locatable } %>
	<% end %>
</div>
<div class="col-md-9">
	<div id="address-edit-container" class="clearfix card margin-bottom-15 margin-sides-15">
		<div id="form-map-container" class="col-md-6 col-md-push-6">
		</div><!-- Google Map -->
		<div id="address-new-form" class="col-md-6 col-md-pull-6">
			<%= render 'form' %>
		</div>
	</div>
</div>
