<div id="navigation-links" class="pull-right">
	<% unless prev_page.nil? %>
		<%= link_to '< Prev', page: prev_page, remote: true %>
	<% end %>
	<% unless next_page.nil? %>
		<%= link_to  'Next >', page: next_page, remote: true %>
	<% end %>
</div>
