<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<div class="clearfix" style="margin: 30px auto;">
					<div class="col-sm-6">
						<h2 class="section-heading">Huburb for Customer</h2>
						<hr class="light clearfix">
						<p class="text-faded">
							Huburb helps you discover small businesses within 5KM of your current location.
						</p>
					</div>
					<div class="col-sm-6">
						<h2 class="section-heading">Huburb for Business</h2>
						<hr class="light clearfix">
						<p class="text-faded">
							Huburb helps small businesses connect with their customers, and reach them fast and economically.
						</p>
					</div>
				</div>
				<%= link_to '#', class: "btn btn-default btn-xl cta-link" do %>
					Request invite for Huburb<sup>Preview</sup>
				<% end %>
			</div>
		</div>
	</div>
</section>

