<aside class="bg-dark">
	<div class="container text-center">
		<div class="call-to-action">
			<h2>Huburb is online now</h2>
			<h2>Explore more!</h2>
			<%= link_to new_user_registration_path, class: "btn btn-default btn-xl wow tada" do %>
				Create account for Huburb
			<% end %>
		</div>
	</div>
</aside>
