<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Let's Get In Touch!</h2>
				<hr class="primary">
				<p>Ready to bring your business on Huburb? That's great!</p>
				<p>Send us an email or follow us!</p>
			</div>
			<div class="col-lg-4 text-center">
				<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
				<p><a href="mailto:hello@huburb.in">hello@huburb.in</a></p>
			</div>
			<div class="col-lg-4 text-center">
				<i class="fa fa-facebook-square fa-3x wow bounceIn"></i>
				<p><a href="https://www.facebook.com/huburb.in/">huburb.in</a></p>
			</div>
			<div class="col-lg-4 text-center">
				<i class="fa fa-twitter-square fa-3x wow bounceIn"></i>
				<p><a href="https://twitter.com/huburb_in">huburb_in</a></p>
			</div>
		</div>
	</div>
</section>

