<section id="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Features</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<div class="feature-box">
					<i class="fa fa-4x fa-print wow bounceIn text-primary" data-wow-delay=".1s"></i>
					<h3>Business Page</h3>
					<p class="text-muted">Publish a page for your business in 2 easy steps, and track its performance.</p>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="feature-box">
					<i class="fa fa-4x fa-comments-o wow bounceIn text-primary"></i>
					<h3>Messages</h3>
					<p class="text-muted">Interact with your customers and make a personal connection.</p>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="feature-box">
					<i class="fa fa-4x fa-bell-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
					<h3>Instant Updates</h3>
					<p class="text-muted">Update your customers about offers and services, and reduce your advertisement costs.</p>
				</div>
			</div>
		</div>
	</div>
</section>

