<header id="page-top">
	<div class="header-content">
		<div class="header-content-inner">
			<h1>Huburb</h1>
			<hr>
			<p>Connect with customers in your neighbourhood, fast and economically.</p>
			<a href="#features" class="btn btn-primary btn-xl page-scroll">Learn More</a>
		</div>
	</div>
</header>
