<div id="invitee-popup-overlay">
	<div id="invitee-popup">
		<div id="invitee-popup-form">
			<%= render partial: 'invitees/form' %>
		</div>
		<div class="text-center">
			<a href="#">Close</a>
		</div>
	</div>
</div>
